.hidden {
	display: none;
}
.center {
	text-align: center;
}


.btn-large {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 7px;
	font-size: 15px;
	font-family: inherit;
	background-color: #fafafa;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
	border: 2px solid var(--primary);
}

.btn-large:hover {
	background-color: var(--primary);
	color: #fff;
}

.btn-large:focus,
.btn-large:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.filled {
	background-color: var(--primary);
	color: white;

}
table {
	border-collapse: collapse;
}

td,
th {
	padding: 5px;
}

.btn-action-small {
	background-color: transparent;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 0;
	transition: background-color 0.2s;
}
.btn-action-small:hover {
	background-color: #eee;
}

.filled > svg {
	fill: #fff;
}
