* {
	box-sizing: content-box;
}
:root {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary: #3498db;
	--primary-in: #5fa1cc;
}

body,
html {
	margin: 0;
	padding: 0;
	min-width: 320px;
	min-height: 100vh;
}

header {
	margin: 0;
	background-color: var(--primary);
	padding: 20px;
	color: white;
}

header h1 {
	margin: 0;
}

.app {
	padding: 20px;
}

.section {
	justify-content: center;
}

.data-entry table {
	width: 80vw;
}
.expenses-section {
	display: none;
}

.actions-panel {
	margin: 1rem;
}
